#Build Folders
*Debug/
*Release/

#Extensions
*.VC.opendb
*.VC.db
*.suo
*.trace
*.vs
*.ipch
*.dll
*.lib
*.exe

#Note: dlls and libs should be added to git via LFS, see .gitattributes.

#Dependencies
#Dependencies/glfw*
Dependencies/freetype*
/Source/enc_temp_folder
